<div class="row mt-2">
    <div class="col">
        <mat-card>
            <mat-card-title>
                PROJETO FRONT-END
            </mat-card-title>
        
            <mat-card-subtitle>
                Aplicação angular hospedada em AWS S3 usando localstack. Clique no menu para acessar o CRUD.
            </mat-card-subtitle>
        
            <mat-card-content>
                <h5>Ferramentas utlizadas</h5>

                <h6 class="mt-2">Front-end</h6>
                <ul>
                    <li>Angular 11</li>
                    <li>Angular Material</li>
                    <li>Bootstrap</li>
                </ul>

                <h6 class="mt-2">Cloud</h6>
                <ul>
                    <li>Localstack</li>
                </ul>

                <h6 class="mt-2">API</h6>
                <ul>
                    <li>JSON server</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
