<div class="row mt-2">
    <div class="col-12">
        <h3>Listagem de clientes</h3>
    </div>
</div>

<div class="row mt-2" *ngIf="dataSource">
    <div class="col-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="sobrenome">
            <mat-header-cell *matHeaderCellDef> Sobrenome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sobrenome}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="endereco">
            <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endereco}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="contato">
            <mat-header-cell *matHeaderCellDef> Contato </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.contato}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element"> <mat-icon (click)="openDialog(element)" class="item">edit</mat-icon> </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="deletar">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element"> <mat-icon (click)="deleteCliente(element)" class="item">delete</mat-icon> </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <button mat-raised-button (click)="openDialog()" color="primary">Adicionar</button>
    </div>
</div>